html {
  height: 100%;
  width: 100%;
}

#re{
  width:100vw;
}


.container-fluid{
  background-color: black !important;
}

a{
  color:red !important;
}



#p{
  color:red;
}

body{
   background-color: black;
}